<!--<div class="card" style="max-width: 140px;">-->
  <!--<img class="card-img-top" src="{{photo}}" alt="Photo of sunset">-->
  <!--<div class="card-block">-->
    <!--<h5 class="name">{{name}}</h5>-->
    <!--<h6>-->
      <!--<i class="fa fa-map-marker" aria-hidden="true"></i>-->
      <!--{{city}}-->
    <!--</h6>-->
    <!--<p class="card-text">{{shortDescription}}...</p>-->
    <!--<div class="favourites">-->
      <!--{{favourites}} <i class="fa fa-heart" aria-hidden="true" (click)="onFavourite()"></i>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="card card-inverse">
  <img class="card-img place-img" src="{{photo_url}}" alt="Place image">
  <div class="card-img-overlay">
    <h4 class="card-title">{{name}}</h4>
    <h6>
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      {{city}}
    </h6>
    <p class="card-text">{{description}}</p>
    <div class="favourites">
      {{popularity}} <i class="fa fa-heart" aria-hidden="true"></i>
    </div>
  </div>
</div>
