// .card {
//     display:inline-block;
// }
.card-img-top {
    height: 100px;
    // max-width: 138px;
}
.card-block {
    padding: 0.15rem;
    .name {
        text-align: center;
    }
    .card-text {
        margin-bottom: 0rem;
        font-size: 13px;
    }
    .favourites {
        text-align: right;
        i {
            cursor: pointer;
        }
    }
}