<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="#">Tourism</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mt-2 mt-md-0">
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/home"
           routerLinkActive="active">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/favorites"
           routerLinkActive="active">
          Favorites
        </a>
      </li>
    </ul>

    <form class="form-inline mx-auto">
      <div class="form-group">
        <label class="city-select-label" for="cityChoice">You city: </label>
        <select class="form-control form-control-sm" id="cityChoice">
          <option selected value="minsk">Minsk</option>
          <option value="gomel">Gomel</option>
          <option value="brest">Brest</option>
        </select>
      </div>
    </form>

    <div class="btn-group mr-0" role="group">
      <button class="btn btn-secondary">
        <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button class="btn btn-secondary">
        <i class="fa fa-location-arrow" aria-hidden="true"></i>
      </button>
      <button class="btn btn-secondary">
        <i class="fa fa-user" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
